<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="odom" default="gradicp"/>

    <!-- Step inference -->
    <node name="gradslam_ros" pkg="gradslam_ros" type="tum2ros.py" output="screen">
        <param name="odometry" value="$(arg odom)"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find gradslam_ros)/rviz/config.rviz"/>
</launch>
