<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="bag" default="$(find supervised_depth_correction)/data/explorer_x1_rgbd_traj.bag"/>
    <arg name="rviz" default="false"/>
    <arg name="from_bag" default="true"/>
    <arg name="save_data" default="true"/>

    <group if="$(arg from_bag)">
        <param name="use_sim_time" value="true"/>
        <include file="$(dirname)/play_bag.launch">
            <arg name="bag" value="$(arg bag)"/>
        </include>
    </group>

    <!-- Save data -->
    <node name="save_dataset" pkg="supervised_depth_correction" type="bag2icl.py" output="screen">
        <param name="save_data" value="$(arg save_data)"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find supervised_depth_correction)/config/rviz/config.rviz"/>
</launch>
