<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="odom" default="gradicp"/>

    <!-- Step inference -->
    <node name="depth_completion" pkg="depth_completion" type="gradslam_tum" output="screen">
        <param name="odometry" value="$(arg odom)"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find depth_completion)/config/rviz/config.rviz"/>
</launch>
